@font-face {
    font-family: a;
    src: url(./res/PPAcma-Light.257a49e8.woff2);
}

@font-face {
    font-family: b;
    src: url(./res/PPNeueMontreal-Regular.5da79dab.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: a;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    overflow-x: hidden;
}

#cursor {
    position: absolute;
    margin-left: 3vw;
    border-radius: 50%;
    z-index: 99;
}

#inner-crsr {
    border-radius: 50%;
    height: .8vw;
    width: .8vw;
    background-color: sandybrown;
}

#page1 {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

#page1 video {
    height: 100%;
    object-fit: cover;
    width: 100%;

}

#nav {
    height: 5vw;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 2vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navpt1 {
    display: flex;

    align-items: center;
    gap: 4vw;
}

.navpt2 {
    width: 12vw;
    text-align: end;
}

#nav h3 {
    font-family: b;
    font-weight: 500;
    font-size: 1.3vw;
    color: #E1DDDB;

}

#nav svg {
    height: 2vw;
    filter: invert();
    fill: #E1DDDB;
    color: white;
    object-fit: cover;
}

#page1 #text {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 1vw;
    top: 0;
    background-color: #0149c6;
    position: absolute;
}

#text h1 {
    font-size: 17.5vw;
    color: #E1DDDB;
    line-height: 1;
    letter-spacing: -15px;
    font-weight: 100;
}

#text h3 {
    opacity: 0;
    font-family: b;
    font-size: 1.3vw;
    text-align: center;
    position: absolute;
    bottom: 8%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    color: #E1DDDB;
}

#page2 {

    width: 100%;
    position: relative;
    background-color: #E1DEDC;
}

#upper {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 100vw;
    padding: 4vw;
    padding-bottom: 0;
}

#upper h3 {
    font-family: b;
    font-weight: 500;
    text-align: center;

}

#line1 {
    height: 80%;
    background-color: #2E3A40;
    width: .2vw;
    position: relative;
    overflow: hidden;
}

#center {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

#center svg {
    height: 80%;
    fill: #2E3A40;
}

#center h1 {
    font-size: 18vw;
    letter-spacing: -20px;
    line-height: 1;
    color: #2E3A40;
    font-weight: 400;
    text-align: center;
}

#lower {
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#line2 {
    height: 80%;
    background: #000;
    width: .11vw;
    margin-left: 15vw;
    rotate: -30deg;
}
#lower h3{
    margin-left: 40vw;
    font-weight: 500;
    font-size: 1.3vw;

    font-family: b;
}
#page3{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-y: hidden;
    background-color: #000000;
    justify-content: space-between;
    flex-shrink: 0;
}
#left{
    width: 22vw;
    height: 100vh;
    overflow: hidden;
}
#left img{
    border-radius: 5px;
    height: 150vh;
    transform: translate(-70%,-53%);
}
#left img:nth-child(2){
    height: 150vh;
    transform: translate(-70%,-45%);
}
#mid{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;

}
#page3::-webkit-scrollbar{
    display: none;
}
#mid img{
    height: 40vh;
    object-fit: cover;
    transform: translate(-50%,-50%);
    left: 50%;
z-index: 1;
    position: absolute;
    width: 44vw;
    border-radius: 5px;

}
#mid img:nth-child(1){
    object-position: bottom;
}
#mid img:nth-child(3){
    object-position: bottom;
    bottom: -40%;
}
#mid video{
    height: 44vh;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44vw;
    border-radius: 5px;
    z-index: 2;
    transform: translate(-50%,-50%);

}

#right{
    width: 22vw;
    height: 100vh;
}
#page4{
    height: 100vh;
    width: 100vw;
}